{% extends 'concerts_app/base.html' %}
{% block title %}
    Lista de conciertos más vendidos
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Conciertos Más Vendidos</h1>
        {% if conciertos_top_ventas %}
            <table class="table">
                <tr>
                    <th>Concierto</th><th>Artista</th><th>Número de entradas vendidas</th>
                </tr>
                {% for concierto in conciertos_top_ventas %}
                    {%if concierto.sum_compras%} <!--Si no tiene ninguna venta, no se pone-->
                    <tr>
                        <td>{{ concierto.nombre }}</td>
                        <td>{{ concierto.artista_concierto.nombre }}</td>
                        <td>{{ concierto.sum_compras }}</td>
                    </tr>
                    {%endif%}
                {% endfor %}
            </table>
        {% else %}
            <p>No hay conciertos aún, estate atento a nuevas fechas</p>
        {% endif %}
    </div>
</div>
{% endblock %}
