{% extends 'concerts_app/base.html' %}
{% block title %}
    Detalles del concierto de {{ concierto.nombre }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-music-note"></i> {{ concierto.nombre }}</h2>
                <ul class="list-unstyled">
                    <li><strong><i class="bi bi-ticket"></i> Tickets disponibles:</strong> {{ concierto.boletos_disponibles }}</li>
                    <li><strong><i class="bi bi-calendar"></i> Fecha:</strong> {{ concierto.fecha }}</li>
                    <li><strong><i class="bi bi-cash"></i> Precio de entrada:</strong> {{ concierto.precio_entrada }}€</li>
                    <li><strong><i class="bi bi-person"></i> Artista:</strong> {{ concierto.artista_concierto }} <a href="{% url 'artista_detail' concierto.artista_concierto.pk %}">(Más info del artista)</a></li>
                    <li><strong><i class="bi bi-geo-alt"></i> Ubicación:</strong> {{ concierto.ubicacion_concierto }}</li>
                    {% if concierto.valoracion_media %}
                        <li><strong><i class="bi bi-star-fill"></i> Valoración:</strong> {{ concierto.valoracion_media }}</li>
                    {% endif %}
                    {% if concierto.boletos_disponibles > 0 %}
                        {% if concierto.foto %}
                            <img src="{{ concierto.foto.url }}" class="card-img-top mt-3 mb-3" alt="Foto del concierto">
                        {% endif %}
                        <li><a href="{% url 'comprar_entradas' concierto.pk %}" class="btn btn-primary"><i class="bi bi-cart-plus"></i> Comprar entradas</a></li>
                    {% else %}
                        <li><em><i class="bi bi-exclamation-triangle"></i> Entradas agotadas...</em></li>
                    {% endif %}
                    {% if user.is_staff %}
                        <br>
                        <li><a href="{% url 'concierto_update' concierto.pk %}" class="btn btn-secondary"><i class="bi bi-pencil"></i> Editar concierto</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
