{% extends 'concerts\_app/base.html' %} 
{% block title %} Lista de conciertos {% endblock %} 
{% block content %} 
<div class="row">
   <div class="col">
       <h2 class="mt-5 mb-4">Próximos conciertos del festival {{festival.nombre}}</h2>
       <div class="row row-cols-1 row-cols-md-2 g-4">
           {% for concierto in conciertos %} 
           <div class="col">
               <div class="card h-100" style="background-color: #24243e; border-radius: 10px; border: none;">
                   <img src="{{ concierto.foto.url }}" class="card-img-top img-fluid rounded-top" alt="Concierto Image" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                   <div class="card-body">
                       <h5 class="card-title text-white">{{ concierto.nombre }}</h5>
                       <p class="card-text text-white mb-1"><i class="bi bi-person"></i> Artista: {{ concierto.artista\_concierto }}</p>
                       <p class="card-text text-white mb-1"><i class="bi bi-calendar"></i> Fecha: {{ concierto.fecha }}</p>
                   </div>
               </div>
           </div>
           {% endfor %}
       </div>
   </div>
</div>
{% endblock %}