{% extends 'base.html' %}
{% block title %}
Detalles del Concierto {{ concierto.nombre }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-music-note"></i> {{ concierto.nombre_concierto }}</h2>
                <ul class="list-unstyled">
                    <li><strong><i class="bi bi-person"></i> Artista:</strong> {{ concierto.artista_concierto }}</li>
                    <li><strong><i class="bi bi-calendar"></i> Fecha:</strong> {{ concierto.fecha }}</li>
                    <li><strong><i class="bi bi-geo-alt"></i> Escenario:</strong> {{ concierto.escenario }}</li>
                    <li><strong><i class="bi bi-justify"></i> Descripción:</strong> {{ concierto.descripcion }}</li>
                    {% if concierto.foto %}
                        <img src="{{ concierto.foto.url }}" class="card-img-top mt-3 mb-3" alt="Foto del concierto">
                    {% endif %}
                    {% if user.is_staff %}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-warning" role="alert">
                                <i class="bi bi-shield-lock"></i> Eres administrador. Puedes realizar las siguientes funciones:
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'concierto_update' concierto.pk %}" class="btn btn-secondary">
                                <i class="bi bi-pencil"></i> Editar concierto
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'concierto_delete' concierto.pk %}" class="btn btn-danger">
                                <i class="bi bi-trash"></i> Eliminar concierto
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}