{% extends 'base.html' %}
{% block title %}
    Lista de Artistas
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h2 class="text-center mb-5">Nuestros artistas</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for artista in artista_list %}
            <div class="col">
                <div class="card" style="background-color: #24243e; border-radius: 10px; border: none;">
                    <img src="{{ artista.foto.url }}" class="card-img-top img-fluid rounded-top" alt="Concierto Image" style="max-height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ artista.nombre }}</h5>
                        <!--Genero del artista-->
                        <p class="card-text text-white mb-1"><i class="bi bi-music-note"></i> Género: {{ artista.genero }}</p>
                        <!--Descripcion del artista-->
                        <p class="card-text text-white mb-3">Descripción : {{ artista.descripcion }}</p>
                        <a href="{% url 'artista_detail' pk=artista.pk %}" class="btn btn-primary"><i class="bi bi-info-circle"></i> Detalles</a>
                        {% if user.is_staff %}
                            <a href="{% url 'artista_delete' pk=artista.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i> Borrar</a>
                            <a href="{% url 'artista_update' pk=artista.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if user.is_staff %}
        <a href="{% url 'artista_create' %}" class="btn btn-primary"><i class="bi bi-plus"></i> Añadir un Artista</a>
        {% endif %}
    </div>
</div>
{% endblock %}
