{% extends 'base.html' %}
{% block title %}
Lista de Autobuses
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center mb-5">Lista de Parkings del Festival "{{ festival.nombre }}"</h1>
        <div class="row">
            <div class="card col-6 mx-auto">
                <div class="card-body">
                    {% if parkings %}
                    <h2 class="card-title">Parkings Disponibles</h2>
                    <div class="list-group">
                        {% for parking in parkings %}
                            <h5 class="mb-1">{{ parking.ubicacion_parking }}</h5>
                            <p class="mb-1">Capacidad: {{ parking.plazas_disponibles }}</p>
                            <p class="mb-1">Precio: {{ parking.precio }}€</p>
                            <a href="{% url 'reservar_plaza_parking' parking.pk %}" class="btn btn-primary">Reservar plaza en este parking
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>Actualmente no hay Parkings disponibles aún para este festival pero los habrá. ¡Vuelve más adelante!</p>
                    {% endif %}
                </div>
            </div>

        </div>
        {%if user.is_staff%}
        <div class="row">
            <div class="card col-6 mx-auto pb-4">
                <a href="{% url 'autobus_create' festival.pk %}" class="btn btn-primary mt-4"><i class="bi bi-plus"></i>
                    Añadir Autobús</a>
                <a href="{% url 'festival_detail' festival.pk %}" class="btn btn-secondary mt-4"><i
                        class="bi bi-arrow-left"></i> Volver al Festival</a>
            </div>
        </div>
        {%endif%}

    </div>
</div>
{% endblock %}