body {
    color: #dddddd;


    background: #0f0c29;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0f0c29 0%, #302b63 50%, #24243e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0f0c29 0%, #302b63 50%, #24243e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0f0c29 0%, #302b63 50%, #24243e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.custom-card {
    position: relative;
    width: 200px;
    height: 200px;
    background: lightgrey;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
    border: 2px solid rgb(255, 255, 255);
}

.custom-background {
    position: absolute;
    inset: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.custom-logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 3px;
}

.custom-logo .custom-logo-svg {
    fill: white;
    width: 30px;
    height: 30px;
}

.custom-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.custom-icon .custom-svg {
    fill: rgba(255, 255, 255, 0.797);
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.custom-box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: rgba(255, 255, 255, 0.389);
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
}

.custom-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.custom-box:hover .custom-svg {
    fill: white;
}

.custom-box1 {
    width: 70%;
    height: 70%;
    bottom: -70%;
    left: -70%;
}

.custom-box1::before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
}

.custom-box1:hover::before {
    opacity: 1;
}

.custom-box1:hover .custom-icon .custom-svg {
    filter: drop-shadow(0 0 5px white);
}

.custom-box2 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.2s;
}

.custom-box2::before {
    background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
}

.custom-box2:hover::before {
    opacity: 1;
}

.custom-box2:hover .custom-icon .custom-svg {
    filter: drop-shadow(0 0 5px white);
}

.custom-box3 {
    width: 30%;
    height: 30%;
    bottom: -30%;
    left: -30%;
    transition-delay: 0.4s;
}

.custom-box3::before {
    background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.custom-box3:hover::before {
    opacity: 1;
}

.custom-box3:hover .custom-icon .custom-svg {
    filter: drop-shadow(0 0 5px white);
}

.custom-box4 {
    width: 10%;
    height: 10%;
    bottom: -10%;
    left: -10%;
    transition-delay: 0.6s;
}

.custom-card:hover {
    transform: scale(1.1);
}

.custom-card:hover .custom-box {
    bottom: -1px;
    left: -1px;
}

.custom-card:hover .custom-logo {
    transform: translate(70px, -52px);
    letter-spacing: 0px;
}

.pepe{
    color: red;
}