body {
    color: #dddddd;


    background: #0f0c29;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0f0c29 0%, #302b63 50%, #24243e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0f0c29 0%, #302b63 50%, #24243e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0f0c29 0%, #302b63 50%, #24243e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/*Card de reservas */
.custom-card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.custom-card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: center; /* Añadir */
}

.custom-card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.custom-heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.custom-card p:not(.custom-heading) {
  font-size: 14px;
}

.custom-card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.custom-card:hover::after {
  filter: blur(30px);
}

.custom-card:hover::before {
  animation: rotateCard 0.6s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotateCard {
  to {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
}

.bg-purple {
  background-color: #9b59b6;
}

/*Card de información para cuando creas un festival */

.custom-info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #509AF8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.custom-info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.custom-info__icon path {
  fill: #fff;
}

.custom-info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.custom-info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.custom-info__close path {
  fill: #fff;
}

/*Logo */
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  max-width: 100%;
  max-height: 45vh;
  overflow: hidden;
}

svg {
  width: 90%; 
  height: auto;
  min-width: 750px; 
  max-width: 100%;
}

.enlace_entrada {
  text-decoration: none;
}

.card{
  background-color: #24243e; 
  border-radius: 10px;
  border: none;
}

/*animacion desvanecer */
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.card_transicion{
  view-timeline-name: --image; /*Este nombre es para enlazar al scroll*/
  view-timeline-axis: block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 30% cover 50%;
  animation-fill-mode: both;
}

/* Estilos para la card de reservas */
.mi-reserva-card {
  width: 190px;
  height: auto;
  background: #07182E;
  position: relative;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.mi-reserva-card > .reserva-card-title {
  z-index: 1;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.mi-reserva-card > .reserva-card-text {
  z-index: 1;
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.mi-reserva-card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: reserva-rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes reserva-rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mi-reserva-card::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
}

/*Estilos de las fotos de las cards*/

.card-imagen {
  height: 250px;
  overflow: hidden;
}

.imagen_festival_list {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-imagen {
    height: 350px;
  }

  .imagen_festival_list {
    height: 350px;
  }
}

@media (min-width: 992px) {
  .card-imagen {
    height: 450px;
  }

  .imagen_festival_list {
    height: 450px;
  }
}