{% extends 'base.html' %}
{% block title %}
    Lista de Artistas del Festival
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center mb-5 text-white">Artistas del Festival {{ festival.nombre }}</h1>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for artista in artistas %}
            <div class="col card_transicion">
                <div class="card h-100 .card-imagen" style="background-color: #24243e; border-radius: 10px; border: none;">
                    <img src="{{ artista.foto.url }}" class="card-img-top img-fluid rounded-top imagen_festival_list" alt="Artista Image" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ artista.nombre }}</h5>
                        <a href="{% url 'artista_detail' pk=artista.pk %}" class="btn btn-primary"><i class="bi bi-info-circle"></i> Detalles del artista</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
