{% extends 'base.html' %}
{% block title %}
    Lista de conciertos de un festival
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Conciertos del festival {{festival.nombre}}</h2>
        {% if conciertos %}
            <table class="table mt-5 text-center">
                <tr>
                    <th>Concierto</th><th>Artista</th><th>Horario</th><th>Más info del artista</th>
                </tr>
                {% for concierto in conciertos %}
                    <tr>
                        <td>{{ concierto.nombre_concierto }}</td>
                        <td>{{ concierto.artista_concierto.nombre }}</td>
                        <td>{{ concierto.fecha}}</td>
                        <td><a href="{% url 'artista_detail' pk=concierto.artista_concierto.pk %}" class="btn btn-primary"><i class="bi bi-info-circle"></i> Detalles del artista</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Aún no se han asignado conciertos a este festival, ¡Vuelve más adelante!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
