{% extends 'concerts_app/base.html' %}
{% block title %}
    Creación de Festival
{% endblock %}
{% block content %}
    <h1>Creación de Festival</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Crear</button>
    </form>
    <div class="custom-notifications-container">
        <div class="custom-info">
          <div class="custom-flex">
            <div class="custom-flex-shrink-0">
              <svg class="custom-info-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="custom-info-prompt-wrap">
              <p>
                Confused? So are we, yet you can
                <a class="custom-info-prompt-link" href="#">click here to pretend you know what you're doing →</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    <p>Para añadir conciertos y los tipos de entradas, debe terminar de crear este festival y después editarlo.</p>
{% endblock %}
