{% extends 'base.html' %}
{% block title %}
Detalles del Festival {{ festival.nombre }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><i class="bi bi-music-note"></i> {{ festival.nombre }}</h2>
                <ul class="list-unstyled">
                    <li><strong><i class="bi bi-ticket"></i> Tickets disponibles:</strong> {{ festival.boletos_disponibles }}</li>
                    <li><strong><i class="bi bi-calendar"></i> Fecha:</strong> {{ festival.fecha }}</li>
                    <li><strong><i class="bi bi-geo-alt"></i> Ubicación:</strong> {{ festival.ubicacion_festival }}</li>
                    <li><strong><i class="bi bi-music-note-list"></i> Género principal:</strong> {{ festival.genero_principal }}</li>
                    <li><strong><i class="bi bi-justify"></i> Descripción:</strong> {{ festival.descripcion }}</li>
                    {% if festival.disponibilidad_autobuses %}
                        <a href="{% url 'autobus_list' festival.pk %}" class="btn btn-info mt-2"><i class="bi bi-info-circle"></i> Todos los autobuses</a>
                    {% endif %}
                    {% if festival.disponibilidad_parking %}
                        <a href="{% url 'parking_list' festival.pk %}" class="btn btn-info mt-2"><i class="bi bi-info-circle"></i> Ubicaciones de parking</a>
                    {% endif %}
                    {% if festival.foto %}
                        <img src="{{ festival.foto.url }}" class="card-img-top mt-3 mb-3" alt="Foto del festival">
                    {% endif %}
                    <div class="row">
                        {% if festival.boletos_disponibles > 0 %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'mapa_interactivo' festival.pk %}" class="btn btn-success">
                                <i class="bi bi-cart"></i> Comprar entradas
                            </a>
                        </div>
                        {% else %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <em><i class="bi bi-exclamation-triangle"></i> Entradas agotadas...</em>
                        </div>
                        {% endif %}
                    
                        {% if conciertos %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'artistas_festival' festival.pk %}" class="btn btn-primary">
                                <i class="bi bi-people"></i> LineUp
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'conciertos_festival' festival.pk %}" class="btn btn-primary">
                                <i class="bi bi-people"></i> Conciertos con sus horarios
                            </a>
                        </div>
                        {%else%}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <em><i class="bi bi-exclamation-triangle"></i> No hay artistas confirmados aún</em>
                        </div>
                        {% endif %}
                    
                        {% if user.is_staff %}
                        <div class="col-12">
                            <div class="alert alert-warning" role="alert">
                                <i class="bi bi-shield-lock"></i> Eres administrador. Puedes realizar las siguientes funciones:
                            </div>
                        </div>
                        {% if recaudacion %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <strong>Recaudación total:</strong> {{ recaudacion }} €
                        </div>
                        {% endif %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'añadir_entradas_festival' festival.pk %}" class="btn btn-secondary">
                                <i class="bi bi-ticket-perforated"></i> Gestionar entradas
                            </a>
                        </div>
                    
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'concierto_create' festival.pk %}" class="btn btn-secondary">
                                <i class="bi bi-plus"></i> Añadir concierto y artista
                            </a>
                        </div>
                    
                        {% if festival.disponibilidad_autobuses %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'autobus_create' festival.pk %}" class="btn btn-secondary">
                                <i class="bi bi-plus"></i> Añadir autobús
                            </a>
                        </div>
                        {% endif %}
                    
                        {% if festival.disponibilidad_parking %}
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'parking_create' festival.pk %}" class="btn btn-secondary">
                                <i class="bi bi-plus"></i> Añadir parking
                            </a>
                        </div>
                        {% endif %}
                    
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'festival_update' festival.pk %}" class="btn btn-warning">
                                <i class="bi bi-pencil"></i> Editar festival
                            </a>
                        </div>
                    
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <a href="{% url 'festival_delete' festival.pk %}" class="btn btn-danger">
                                <i class="bi bi-trash"></i> Eliminar festival
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
