{% extends 'base.html' %}
{% block title %}
Lista de Festivales con Autobuses
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center mb-5 text-white">Todos los festivales con disponibilidad de autobuses</h1>

        <form action="" method="GET">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Filtrar" class="btn btn-primary mt-3 ">
            <button type="button" class="btn btn-secondary mt-3" onclick="limpiarNombreFestival()">Limpiar
                filtro</button>

        </form>
        <h2 class="mt-5 mb-4">Festivales con Autobuses Disponibles:</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for festival in festivales_con_bus %}
            <div class="col">
                <div class="card h-100" style="background-color: #24243e; border-radius: 10px; border: none;">
                    <img src="{{ festival.foto.url }}" class="card-img-top img-fluid rounded-top" alt="Festival Image"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ festival.nombre }}</h5>
                        <p class="card-text text-white mb-1"><i class="bi bi-calendar"></i> Fecha: {{ festival.fecha }}
                        </p>
                        <p class="card-text text-white mb-1"><i class="bi bi-geo-alt"></i> Ubicación: 
                            {{festival.ubicacion_festival }}</p>
                        <a href="{% url 'festival_detail' pk=festival.pk %}" class="btn btn-primary"><i
                                class="bi bi-info-circle"></i> Detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<script>
    function limpiarNombreFestival() {
        let nombreFestivalInput = document.getElementsByName('nombre_festival')[0];
        nombreFestivalInput.value = '';
    }
</script>

{% endblock %}