{% extends 'concerts_app/base.html' %}
{% block title %}
    Lista de Festivales
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center mb-5 text-white">Bienvenido a ConcertHub{% if request.user.is_authenticated %},{{request.user.username}}{%endif%}</h1>

        <form action="" method="GET">
            {% csrf_token %}
            {{ form.as_p }}
            
            <input type="submit" value="Filtrar" class="btn btn-primary mt-3 ">

        </form>
        <h2 class="mt-5 mb-4">Próximos Festivales:</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for festival in festivalesFuturos %}
            <div class="col">
                <div class="card h-100" style="background-color: #24243e; border-radius: 10px; border: none;">
                    <img src="{{ festival.foto.url }}" class="card-img-top img-fluid rounded-top" alt="Concierto Image" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ festival.nombre }}</h5>
                        <p class="card-text text-white mb-1"><i class="bi bi-calendar"></i> Fecha: {{ festival.fecha }}</p>
                        <p class="card-text text-white mb-1"><i class="bi bi-geo-alt"></i> Ubicación: {{ festival.ubicacion_festival }}</p>
                        <p class="card-text text-white mb-3"><i class="bi bi-cash"></i> Precio: {{ festival.precio_entrada }}€</p>
                        <a href="{% url 'festival_detail' pk=festival.pk %}" class="btn btn-primary"><i class="bi bi-info-circle"></i> Detalles</a>
                        {% if user.is_staff %}
                            <a href="{% url 'festival_delete' pk=festival.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i> Borrar</a>
                            <a href="{% url 'festival_update' pk=festival.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        {% if user.is_staff %}
        <h2 class="mt-5 mb-4">(Solo visible para staff) Festivales pasados:</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for festival in festivalesFuturos %}
            <div class="col">
                <div class="card h-100" style="background-color: #24243e; border-radius: 10px; border: none;">
                    <img src="{{ festival.foto.url }}" class="card-img-top img-fluid rounded-top" alt="Concierto Image" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    <div class="card-body">
                        <h5 class="card-title text-white">{{ festival.nombre }}</h5>
                        <p class="card-text text-white mb-1"><i class="bi bi-calendar"></i> Fecha: {{ festival.fecha }}</p>
                        <p class="card-text text-white mb-1"><i class="bi bi-geo-alt"></i> Ubicación: {{ festival.ubicacion_festival }}</p>
                        <p class="card-text text-white mb-3"><i class="bi bi-cash"></i> Precio: {{ festival.precio_entrada }}€</p>
                        <a href="{% url 'festival_detail' pk=festival.pk %}" class="btn btn-primary"><i class="bi bi-info-circle"></i> Detalles</a>
                        {% if user.is_staff %}
                            <a href="{% url 'festival_delete' pk=festival.pk %}" class="btn btn-danger"><i class="bi bi-trash"></i> Borrar</a>
                            <a href="{% url 'festival_update' pk=festival.pk %}" class="btn btn-warning"><i class="bi bi-pencil"></i> Editar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/api" class="btn btn-primary mt-5"><i class="bi bi-code"></i> Visitar la api</a>
        <a href="{% url 'festival_create' %}" class="btn btn-primary mt-5"><i class="bi bi-plus"></i> Añadir Festival</a>
        <br>
        {% endif %}
    </div>
</div>
{% endblock %}
