{% extends 'concerts_app/base.html' %}
{% block title %}
    Borrar Festival
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Borrar Festival</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <p>¿Estás seguro de que quieres borrar el Festival {{ object.nombre }}?</p>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
