{% extends 'base.html' %}
{% block title %}
    Comprar Entradas
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                 {%if precio is not none and precio != 0 and entradas_restantes_zona is not none%}
                <h2 class="card-title">Comprar entradas para {{ festival.nombre }} en la zona {{tipo_entrada}} por {{precio}}€</h2>
                <p class="card-text">Quedan: {{ entradas_restantes_zona }} en la zona {{tipo_entrada}} ¡No te quedes sin la tuya!</p>
                <p class="card-text">Recuerda que como máximo puedes comprar solo 5 tickets por compra</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formulario.as_p }}
                    <button type="submit" class="btn btn-primary"><i class="bi bi-cart-fill"></i> Comprar</button>
                </form>
                {%else%}
                <h2 class="card-title">Aún no se han asignado los precios para la zona {{tipo_entrada}} ¡Vuelve más adelante!</h2>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}
