{% extends 'base.html' %}
{% block title %}
    Comprar Entradas
{% endblock %}
{% block content %}
<div class="row" id="advertencia">
    <div class="col-12">
      <div class="custom-info w-100  my-3">
        <div class="custom-info__icon">
          <i class="bi bi-info-circle-fill"></i>
        </div>
        <div class="custom-info__title">Recuerda que como máximo puedes reservar solo cinco plazas por compra
        </div>
        <div class="custom-info__close mb-2" onclick=" cerrarAdvertencia()">
          <i class="bi bi-x-lg"></i>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Reserva tu plaza para el parking del festival {{ parking.festival_relacionado }} ubicado en {{ parking.ubicacion_parking }}</h2>
                <p class="card-text">Precio: {{ parking.precio }}€</p>
                <p class="card-text">Plazas disponibles: {{ parking.plazas_disponibles }}</p>
                <p class="card-text">Recuerda que como máximo puedes comprar solo 5 plazas por compra</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formulario.as_p }}
                    <button type="submit" class="btn btn-primary"><i class="bi bi-cart-fill"></i> Comprar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function cerrarAdvertencia() {
    let advertencia = document.getElementById("advertencia");
    advertencia.style.display = "none"
  }
</script>
{% endblock %}