{% extends 'concerts_app/base.html' %}
{% block title %}
    Lista de Reservas de festivales del usuario
{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h2><i class="bi bi-calendar-check"></i> Todas las reservas de {{ request.user.username }}</h2>
        {%if reservas%}
            {% for reserva in reservas %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Autobús para el festival {{ reserva.autobus_reserva.festival_relacionado }}</h5>
                    <p class="card-text"><i class="bi bi-calendar"></i> Fecha: {{ reserva.autobus_reserva.fecha_salida }}</p>
                    <p class="card-text"><i class="bi bi-geo-alt"></i> Ubicación: {{ reserva.autobus_reserva.ubicacion_parada }}</p>
                    <p class="card-text"><i class="bi bi-coin"></i> Precio: {{ reserva.autobus_reserva.precio }}€</p>
                    <p class="card-text"><i class="bi bi-ticket"></i> Número de tickets comprados: {{ reserva.cantidad_tickets }}</p>
                    <p class="card-text"><i class="bi bi-cash-stack"></i> Total: {{ reserva.importe }}€</p>
                </div>
            </div>
            {% endfor %}
        {%else%}
            <p>Todavía no has hecho ninguna reserva</p>
        {%endif%}
    </div>
</div>
{% endblock %}
