{% extends 'base.html' %}

{% block title %}
    Lista de Reservas de festivales del usuario
{% endblock %}

{% block content %}
<h2 class="text-center my-3"><i class="bi bi-bus-front"></i> Autobuses reservados de {{ request.user.username }}</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% if reservas %}
        {% for reserva in reservas %}
            <div class="col">
                <div class="mi-reserva-card">
                    <h5 class="reserva-card-title">Autobús para el festival {{ reserva.autobus_reserva.festival_relacionado }}</h5>
                    <p class="reserva-card-text"><i class="bi bi-calendar"></i> {{ reserva.autobus_reserva.fecha_salida }}</p>
                    <p class="reserva-card-text"><i class="bi bi-geo-alt"></i> Ubicación: {{ reserva.autobus_reserva.ubicacion_parada }}</p>
                    <p class="reserva-card-text"><i class="bi bi-coin"></i> Precio: {{ reserva.autobus_reserva.precio }}€</p>
                    <p class="reserva-card-text"><i class="bi bi-ticket"></i> Plazas reservadas: {{ reserva.cantidad_tickets }}</p>
                    <p class="reserva-card-text"><i class="bi bi-cash-stack"></i> Total: {{ reserva.importe }}€</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Todavía no has hecho ninguna reserva</p>
    {% endif %}
</div>
{% endblock %}