{% extends 'base.html' %}
{% block title %}
Lista de Autobuses
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center mb-5">Lista de Autobuses del Festival "{{ festival.nombre }}"</h1>
        <div class="row">
            <div class="card col-6 mx-auto">
                <div class="card-body">

                    {% if autobuses %}
                    <h2 class="card-title">Autobuses Disponibles</h2>
                    <div class="list-group">
                        {% for autobus in autobuses %}
                            <h5 class="mb-1">{{ autobus.ubicacion_parada }}</h5>
                            <p class="mb-1">Capacidad: {{ autobus.plazas_disponibles }}</p>
                            <p class="mb-1">Precio: {{ autobus.precio }}€</p>
                            <p class="mb-1">Fecha de salida: {{ autobus.fecha_salida }}</p>
                            <a href="{% url 'reservar_plaza_bus' autobus.pk %}" class="btn btn-primary">Reservar plaza en
                                este autobús
                        </a>
                        <br>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>Actualmente, aún no hay autobuses disponibles aún para este festival pero los habrá. ¡Vuelve más adelante!</p>
                    {% endif %}
                </div>
            </div>

        </div>
        {%if user.is_staff%}
        <div class="row">
            
            <div class="card col-6 mx-auto pb-4">
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        <i class="bi bi-shield-lock"></i> Eres administrador. Puedes realizar las siguientes funciones:
                    </div>
                </div>
                <a href="{% url 'autobus_create' festival.pk %}" class="btn btn-primary mt-4"><i class="bi bi-plus"></i>
                    Añadir Autobús</a>
                <a href="{% url 'festival_detail' festival.pk %}" class="btn btn-secondary mt-4"><i
                        class="bi bi-arrow-left"></i> Volver al Festival</a>
            </div>
        </div>
        {%endif%}

    </div>
</div>
{% endblock %}